input[type=password]:focus,input[type=text]:focus {
	outline: 0
}

body {
	margin-top: 0
}

#header {
	width: 100%;
	margin: 0 0 15px 0;
	background: 0;
	position: relative
}

#searbar {
	margin: 0
}

#header:after,.site-nav:after,.top-nav-items:after,.top-nav:after,.site-nav .bd:after
	{
	content: '\0020';
	display: block;
	clear: both;
	height: 0
}


.nav-srh {
	float: left;
	height: 38px;
	padding-left: 5px;
	background: url(/pics/nav/ui_ns_sbg4.png) no-repeat 0 0
}

.nav-srh form {
	padding: 0 1px 0 0;
	height: 38px;
	*float: left;
	background: url(/pics/nav/ui_ns_sbg4.png) no-repeat 100% 0
}

.nav-srh input {
	float: left;
	width: 300px;
	height: 26px;
	line-height: 26px;
	border: 1px solid #a6d098;
	background: #fff;
	padding: 0 2px;
	-webkit-appearance: none;
	-webkit-border-radius: 0
}

.nav-srh .inp {
	padding-top: 5px;
	width: 366px
}

.nav-srh .bn-srh {
	width: 54px;
	height: 29px;
	font-size: 13px;
	padding: 1px 0 3px 3px;
	border: 0;
	background: transparent url(/pics/nav/ui_ns_sbg4.png) no-repeat 0 -100px;
	cursor: pointer;
	letter-spacing: 3px;
	text-align: center
}

.nav-srh .bn-srh {
	padding: 2px 0 0 0\9
}

.site-nav {
	width: 100%;
	height: 36px;
	clear: both
}

.site-nav .bd {
	float: right;
	height: 36px;
	width: 84%
}

.site-nav-logo {
	float: left;
	position: relative;
	*margin-top: 2px
}

.site-nav-logo a:hover,.site-nav-logo a:active,.site-nav-logo a {
	background: transparent
}


.top-nav a:link,.top-nav a:visited,.top-nav a:hover,.top-nav a:active {
	color: #566d5e
}

.site-nav-items {
	float: left;
	position: relative;
	left: 0;
	top: 0;
	padding-left: 28px;
	line-height: 36px;
	color: #d4d4d4
}

.site-nav-items li {
	float: left;
	display: inline;
	margin-right: 14px;
	background: url(/pics/nav/ui_ns_sbg4.png) no-repeat 0 -140px
}

.site-nav-items li a:link,.site-nav-items li a:hover,.site-nav-items li a:visited,.site-nav-items li a:active
	{
	font-size: 14px;
	color: #0c7823;
	margin-left: 14px;
	vertical-align: middle
}

.site-nav-items li a:hover {
	background-color: #0c7823;
	color: #fff
}

.site-nav h1 {
	font-size: 21px;
	padding: 8px 0
}

.blur {
	color: #ddd
}

#db-nav-movie .site-nav-items li {
	margin-right: 9px
}

#db-nav-movie .nav-srh {
	background-position: 0 -50px
}

#db-nav-movie .nav-srh form {
	background-position: 100% -50px
}

#db-nav-movie .nav-srh input {
	border-color: #8cd4de
}

#db-nav-movie .nav-srh .bn-srh {
	background-position: -130px -100px
}

#db-nav-movie .site-nav-items li a:link,#db-nav-movie .site-nav-items li a:hover,#db-nav-movie .site-nav-items li a:visited,#db-nav-movie .site-nav-items li a:active
	{
	font-size: 14px;
	color: #0090b3;
	margin-left: 12px;
	vertical-align: middle
}

#db-nav-movie .site-nav-items li a:hover {
	background-color: #0090b3;
	color: #fff
}

#db-nav-movie .site-nav-items li.new a:link,#db-nav-movie .site-nav-items li.new a:visited,#db-nav-movie .site-nav-items li.new a:active
	{
	color: #f93
}

#db-nav-movie .site-nav-items li.new a:hover {
	color: #fff;
	background: #f93
}


#db-nav-movie .site-nav-items {
	padding-left: 20px
}