<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
		 
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value> 
            /WEB-INF/classes/conf/applicationContext.xml;
            /WEB-INF/classes/conf/app-*.xml;
        </param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
		<!-- Spring Security 权限管理
   <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    -->
	<!-- 编码转换-->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<!-- 开启Session会话 -->
	<filter>
		<filter-name>OpenSessionInView</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<!-- singleSession默认为true,若设为false则等于没用OpenSessionInView -->
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<!-- 配置sitemesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
	</filter>
	
	<!-- 启用Spring权限管理 
	<filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>*.do</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
      <filter-name>springSecurityFilterChain</filter-name>
      <url-pattern>*.html</url-pattern>
    </filter-mapping>
    -->
    <!-- 启用Hibernate延迟加载 -->
	<filter-mapping>
		<filter-name>OpenSessionInView</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 启用字符转换拦截器-->
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<!-- 启用sitemesh拦截器 -->
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	
	<!-- 配置SpringMVC -->
	<servlet>
         <servlet-name>springDispacher</servlet-name>
         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
         <init-param>
         	<param-name>contextConfigLocation</param-name>
			<param-value>WEB-INF/classes/view/spring_web_*.xml;</param-value>
         </init-param>
         <load-on-startup>1</load-on-startup>
     </servlet>
     <servlet-mapping>
         <servlet-name>springDispacher</servlet-name>
         <url-pattern>*.do</url-pattern>
     </servlet-mapping>
     
	<!-- 进入系统后的欢迎页面 -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
