<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
<!-- 
#自定义样式  
# %r 时间 0  
# %t 方法名 main  
# %p 优先级 DEBUG/INFO/ERROR  
# %c 所属类的全名(包括包名)  
# %l 发生的位置，在某个类的某行  
# %m 输出代码中指定的讯息，如log(message)中的message  
# %n 输出一个换行 
 -->
	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %p [%l] - %m%n" />
		</layout>
	</appender>

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<!--
		Suppress success logging from InteractiveAuthenticationSuccessEvent
	-->
	<logger name="org.springframework.security">
		<level value="ERROR" />
	</logger>

	<logger name="org.apache">
		<level value="WARN" />
	</logger>

	<logger name="org.apache.velocity">
		<level value="FATAL" />
	</logger>

	<logger name="org.hibernate">
		<level value="WARN" />
	</logger>
	<!--
		<logger name="org.hibernate.SQL"> <level value="DEBUG"/> </logger>
	
	<logger name="net.sourceforge.jdbclogger">
		<level value="DEBUG" />
	</logger>
-->
	<logger name="org.springframework">
		<level value="WARN" />
	</logger>

	<logger name="org.cms">
		<level value="DEBUG" />
	</logger>

	<root>
		<level value="DEBUG" />
		<appender-ref ref="CONSOLE" />
	</root>
	<logger name="jdbc.resultset">
		<level value="FATAL" />
		<appender-ref ref="CONSOLE" />
	</logger>
		<logger name="jdbc.audit">
		<level value="FATAL" />
		<appender-ref ref="CONSOLE" />
	</logger>
		<logger name="jdbc.sqlonly">
		<level value="INFO" />
	</logger>
		<logger name="jdbc.sqltiming">
		<level value="FATAL" />
		<appender-ref ref="CONSOLE" />
	</logger>
		<logger name="jdbc.connection">
		<level value="FATAL" />
		<appender-ref ref="CONSOLE" />
	</logger>
</log4j:configuration>
