<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.1.xsd
           http://www.springframework.org/schema/tx 
           http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
           http://www.springframework.org/schema/task  
           http://www.springframework.org/schema/task/spring-task-3.1.xsd">

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- hibernate方言等相关配置 -->
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="connection.characterEncoding">utf-8</prop>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">true</prop>
				<prop key="hibernate.autoReconnect">true</prop>
				<prop key="hibernate.schemaUpdate">false</prop> 
				<prop key="hibernate.connection.debugUnreturnedConnectionStackTraces">true</prop>
				<prop key="hibernate.connection.unreturnedConnectionTimeout">150</prop>
			</props> 
		</property>
		<property name="packagesToScan">   
	       <value>org.hsc.novelSpider.domain</value>
	    </property>  
	</bean>
	<!-- ===================================事务定义开始================================ -->  
    <!-- Hibernate事务管理器 --> 
    <bean id="hibernateTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">  
        <property name="sessionFactory" ref="sessionFactory"></property>  
    </bean> 
    <tx:annotation-driven transaction-manager="hibernateTransactionManager" proxy-target-class="true"/> 
     
    <!-- ===================================事务定义结束================================ -->  
    
    
     <bean id="dynamicStatementBuilder" class="org.hsc.novelSpider.dao.core.DynamicSQLBuilder">  
        <property name="fileNames">  
            <list>  
                <value>classpath*:/sql/*sql.xml</value><!--这里我们指定要加载某个文件夹下所有以-dynamic.xml结尾的文件 -->  
            </list>  
        </property>  
    </bean>
    
    
    <bean id="springContextUtils" class="org.hsc.novelSpider.utils.SpringContextUtils" scope="singleton"/>  
    
    <context:component-scan base-package="org.hsc.novelSpider.dao"></context:component-scan>
    <context:component-scan base-package="org.hsc.novelSpider.service"></context:component-scan>
     
    <task:annotation-driven  />  
	
	<!-- local development环境 -->
	<beans profile="development">
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		      <property name="url" value="jdbc:log4jdbc:mysql://localhost:3306/novel" />
		      <property name="driverClassName" value="net.sf.log4jdbc.DriverSpy" />
		      <property name="username" value="root" />
		      <property name="password" value="wsketgfhv" />
		</bean>
	</beans>
	
	<!-- unit test环境 -->
	<beans profile="test">
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close"> 
		      <property name="url" value="jdbc:log4jdbc:mysql://localhost:3306/novel" />
		      <property name="driverClassName" value="net.sf.log4jdbc.DriverSpy" />
		      <property name="username" value="root" />
		      <property name="password" value="wsketgfhv" />
		</bean>
	</beans>
</beans>