<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.password">
			wsketgfhv
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/tinyCms
		</property>
		<property name="hibernate.connection.username">hsc</property>
		<property name="hibernate.default_schema">tinyCms</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQL5Dialect
		</property>
		<mapping class="org.cms.doamin.cms.UserRole" />
		<mapping class="org.cms.doamin.cms.RescRole" />
		<mapping class="org.cms.doamin.cms.Resc" />
		<mapping class="org.cms.doamin.cms.User" />
		<mapping class="org.cms.doamin.cms.Role" />
		<mapping resource="org/cms/doamin/cms/UserRole.hbm.xml" />
		<mapping resource="org/cms/doamin/cms/RescRole.hbm.xml" />
		<mapping resource="org/cms/doamin/cms/Resc.hbm.xml" />
		<mapping resource="org/cms/doamin/cms/User.hbm.xml" />
		<mapping resource="org/cms/doamin/cms/Role.hbm.xml" />
		<mapping class="org.cms.doamin.auth.AuthRoleFunRelection" />
		<mapping class="org.cms.doamin.auth.AuthRoleGroupRelection" />
		<mapping class="org.cms.doamin.auth.AuthGroup" />
		<mapping class="org.cms.doamin.auth.AuthRole" />
		<mapping class="org.cms.doamin.auth.AuthRoleUserRelection" />
	</session-factory>
</hibernate-configuration>
